.site-footer {display: none;}

/*Colored Notes Style*/

.green {

    background-color:#E2FFDD;

    border-color: #52D53A;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.yellow {

    background-color:#FFFCD9;

    border-color: #FBE900;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.blue {

    background-color:#edf4ff;

    border-color: #1972f5;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.red {

    background-color:#ffebeb;

    border-color: #ff5252;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.orange {

    background-color:#FFF4E1;

    border-color: #FFA40D;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.purple {

    background-color:#f8eeff;

    border-color: #af12f1;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

body {
    font-size: 18px;
    line-height: 1.8;
}

th, td { font-size: 16px !important; min-width: 120px; padding-top: 0.5rem; padding-right: 0.75rem; padding-bottom: 0.5rem; padding-left: 0.75rem; background-color: #fff; border-bottom: 1px solid rgba(238, 235, 238, 0.5); border-left: 1px solid #eeebee; }
@media (min-width: 31.25rem) { th, td { font-size: 16px !important; } }
th:first-of-type, td:first-of-type { border-left: 0; }

.aux-nav { height: 100%; overflow-x: auto; font-size: 16px !important; }
@media (min-width: 31.25rem) { .aux-nav { font-size: 16px !important; } }

.text-small { font-size: 16px !important; }
@media (min-width: 31.25rem) { .text-small { font-size: 16px !important; } }

.fs-6 { font-size: 20px !important; }
@media (min-width: 31.25rem) { .fs-6 { font-size: 26px !important; line-height: 1.7; } }

.fs-9 {
    line-height: 1.8;
    font-weight: 700;
}

@media (min-width: 31.25rem) { .nav-list .nav-list-item { font-size: 16px !important; } }
@media (min-width: 50rem) { .nav-list .nav-list-item { font-size: 16px !important; } }
@media (min-width: 50rem) and (min-width: 31.25rem) { .nav-list .nav-list-item { font-size: 16px !important; } }

.breadcrumb-nav-list-item { display: table-cell; font-size: 14px !important; }
@media (min-width: 31.25rem) { .breadcrumb-nav-list-item { font-size: 14px !important; } }