.site-footer {display: none;}

/*Colored Notes Style*/

.green {

    background-color:#E2FFDD;

    border-color: #52D53A;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.yellow {

    background-color:#FFFCD9;

    border-color: #FBE900;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.blue {

    background-color:#edf4ff;

    border-color: #1972f5;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.red {

    background-color:#ffebeb;

    border-color: #ff5252;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.orange {

    background-color:#FFF4E1;

    border-color: #FFA40D;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}

.purple {

    background-color:#f8eeff;

    border-color: #af12f1;

    border-width: 0 0 0 8px;

    border-style: solid;

    padding:14px 8px 15px 22px;

    display: block;

    color:black;

    font-style:normal;

    text-align:left; 

}